@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow:auto;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  margin: 2% auto;
  font-family: Mitr, Helvetica, sans-serif;
  color: black;
}
/* 
.whole-body{
  margin: 4% auto;
} */


.skills{
  display: flex;
  flex-direction: row;
}

.skill{

  height: 100px;
  width: 100px;

}